
avcodec-53.dll
avformat-53.dll
avutil-51.dll
binkawin.asi
cef_gtk.pak
chromehtml.dll
console-2020-01-18.log
console-2020-01-19.log
console-2020-01-21.log
console-2020-01-22.log
crashhandler.dll
discord-rpc.dll
FileSystem_Stdio.dll
hw.dll
icudt.dll
language.inf
launch.bat
libcef.dll
libcurl.dll
Mss32.dll
mssmp3.asi
mssvoice.asi
platform/admin/admin_english.txt
platform/admin/admin_french.txt
platform/admin/admin_german.txt
platform/admin/admin_italian.txt
platform/admin/admin_japanese.txt
platform/admin/admin_korean.txt
platform/admin/admin_koreana.txt
platform/admin/admin_portuguese.txt
platform/admin/admin_russian.txt
platform/admin/admin_schinese.txt
platform/admin/admin_spanish.txt
platform/admin/admin_tchinese.txt
platform/admin/admin_thai.txt
platform/admin/AdminServer.dll
platform/admin/BanPanel.res
platform/admin/ChatPanel.res
platform/admin/ConfigPanel.res
platform/admin/CreateMultiplayerGameServerPage.res
platform/admin/DialogAddBan.res
platform/admin/DialogAddServer.res
platform/admin/DialogAdminServer.res
platform/admin/DialogCvarChange.res
platform/admin/DialogGamePanelInfo.res
platform/admin/DialogKickPlayer.res
platform/admin/DialogServerPassword.res
platform/admin/game_ready.wav
platform/admin/GamePanelInfo.res
platform/admin/GraphPanel.res
platform/admin/HelpFile.vdf
platform/admin/MainServerConfig.vdf
platform/admin/MapCycleEditDialog.res
platform/admin/MOTDPanel.res
platform/admin/PasswordPanel.res
platform/admin/PlayerPanel.res
platform/admin/RawLogPanel.res
platform/admin/RulesPanel.res
platform/admin/server_english.txt
platform/admin/server_french.txt
platform/admin/server_german.txt
platform/admin/server_italian.txt
platform/admin/server_japanese.txt
platform/admin/server_korean.txt
platform/admin/server_koreana.txt
platform/admin/server_portuguese.txt
platform/admin/server_russian.txt
platform/admin/server_schinese.txt
platform/admin/server_spanish.txt
platform/admin/server_tchinese.txt
platform/admin/server_thai.txt
platform/admin/ServerConfigPanel.res
platform/admin/ServerConfigPanel_cstrike.res
platform/admin/ServerConfigPanel_dod.res
platform/admin/ServerConfigPanel_valve.res
platform/admin/VarEditDialog_ComboBox.res
platform/admin/VarEditDialog_String.res
platform/config/InGameDialogConfig.vdf
platform/config/Server.vdf
platform/config/ServerBrowser.vdf
platform/resource/CreateTokenDialog.res
platform/resource/EditTokenDialog.res
platform/resource/EngineScheme.res
platform/resource/icon_blank.tga
platform/resource/icon_checked.tga
platform/resource/icon_close.tga
platform/resource/icon_down.tga
platform/resource/icon_down_default.tga
platform/resource/icon_emptybox.tga
platform/resource/icon_file.tga
platform/resource/icon_folder.tga
platform/resource/icon_folder_selected.tga
platform/resource/icon_folderup.tga
platform/resource/icon_hlicon1.tga
platform/resource/icon_hlicon2.tga
platform/resource/icon_left.tga
platform/resource/icon_maximize.tga
platform/resource/icon_minimize.tga
platform/resource/icon_password.tga
platform/resource/icon_radiosel.tga
platform/resource/icon_radiounsel.tga
platform/resource/icon_resizer.tga
platform/resource/icon_right.tga
platform/resource/icon_sc.tga
platform/resource/icon_sc_disabled.tga
platform/resource/icon_steam.tga
platform/resource/icon_steam_disabled.tga
platform/resource/icon_up.tga
platform/resource/icon_warning.tga
platform/resource/LocalizationDialog.res
platform/resource/platform_english.txt
platform/resource/platform_french.txt
platform/resource/platform_german.txt
platform/resource/platform_italian.txt
platform/resource/platform_japanese.txt
platform/resource/platform_korean.txt
platform/resource/platform_koreana.txt
platform/resource/platform_portuguese.txt
platform/resource/platform_russian.txt
platform/resource/platform_schinese.txt
platform/resource/platform_spanish.txt
platform/resource/platform_tchinese.txt
platform/resource/platform_thai.txt
platform/resource/TrackerScheme.res
platform/resource/VAC_shield.tga
platform/resource/valve_logo.tga
platform/resource/vgui_english.txt
platform/resource/vgui_french.txt
platform/resource/vgui_german.txt
platform/resource/vgui_italian.txt
platform/resource/vgui_japanese.txt
platform/resource/vgui_korean.txt
platform/resource/vgui_koreana.txt
platform/resource/vgui_portuguese.txt
platform/resource/vgui_russian.txt
platform/resource/vgui_schinese.txt
platform/resource/vgui_spanish.txt
platform/resource/vgui_tchinese.txt
platform/resource/vgui_thai.txt
platform/resource/warning.wav
platform/servers/AddServerGamesPage.res
platform/servers/DialogAddServer.res
platform/servers/DialogGameInfo.res
platform/servers/DialogGameInfo_AutoRetry.res
platform/servers/DialogGameInfo_SinglePlayer.res
platform/servers/DialogServerBrowser.res
platform/servers/DialogServerPassword.res
platform/servers/game_ready.wav
platform/servers/icon_bots.tga
platform/servers/icon_bots_column.tga
platform/servers/icon_password.tga
platform/servers/icon_password_column.tga
platform/servers/icon_robotron.tga
platform/servers/icon_robotron_column.tga
platform/servers/icon_secure_deny.tga
platform/servers/InternetGamesPage.res
platform/servers/InternetGamesPage_Filters.res
platform/servers/serverbrowser.dll
platform/servers/serverbrowser_english.txt
platform/servers/serverbrowser_french.txt
platform/servers/serverbrowser_german.txt
platform/servers/serverbrowser_italian.txt
platform/servers/serverbrowser_japanese.txt
platform/servers/serverbrowser_korean.txt
platform/servers/serverbrowser_koreana.txt
platform/servers/serverbrowser_polish.txt
platform/servers/serverbrowser_portuguese.txt
platform/servers/serverbrowser_russian.txt
platform/servers/serverbrowser_schinese.txt
platform/servers/serverbrowser_spanish.txt
platform/servers/serverbrowser_tchinese.txt
platform/servers/serverbrowser_thai.txt
platform/servers/VACBannedConnRefusedDialog.res
platform/Steam/cached/offline_english.html
platform/Steam/cached/PreloadSubscription_ActivelyPreloading.res
platform/Steam/cached/PreloadSubscription_ActivelyPreloading_Payed_NotPlayable.res
platform/Steam/cached/PreloadSubscription_FinishedPreload_NotPayed_NotPlayable.res
platform/Steam/cached/PreloadSubscription_FinishedPreload_NotPayed_Playable.res
platform/Steam/cached/PreloadSubscription_FinishedPreload_Payed_NotPlayable.res
platform/Steam/cached/PreloadSubscription_NotPreloading.res
platform/Steam/cached/PreloadSubscription_NotPreloading_Payed_NotPlayable.res
platform/Steam/cached/ProductMarketingDialog.res
platform/Steam/cached/ProductMarketingDialog_Initial.res
platform/Steam/cached/ProductMarketingDialog_Preload.res
platform/Steam/cached/ProductMarketingDialog_Released.res
platform/Steam/cached/PurchaseSubBillingConfirmation.res
platform/Steam/games/PlatformMenu.vdf
redist/binkawin.asi
redist/mssdolby.flt
redist/mssdsp.flt
redist/mssmixer.mix
redist/mssmp3.asi
redist/mssogg.asi
redist/msssrs.flt
redist/mssvoice.asi
SDL2.dll
Steam.dll
steam_api.dll
steam_appid.txt
steamapps/appmanifest_228980.acf
steamapps/appmanifest_276060.acf
steamapps/libraryfolders.vdf
steamclient.dll
steamclient64.dll
svencoop_event_anniv/event_info.txt
svencoop_event_anniv/extra_plugins.txt
svencoop_event_anniv/media/gamestartup.mp3
svencoop_event_anniv/media/gamestartup.txt
svencoop_event_anniv/models/anniv/cake_slice.mdl
svencoop_event_anniv/models/headcrab.mdl
svencoop_event_anniv/models/hlclassic/headcrab.mdl
svencoop_event_anniv/resource/background/1600_01_svencoop.tga
svencoop_event_anniv/resource/background/1600_02_svencoop.tga
svencoop_event_anniv/resource/background/1600_03_svencoop.tga
svencoop_event_anniv/resource/background/1600_04_svencoop.tga
svencoop_event_anniv/resource/background/1600_05_svencoop.tga
svencoop_event_anniv/resource/background/1600_06_svencoop.tga
svencoop_event_anniv/resource/background/1600_07_svencoop.tga
svencoop_event_anniv/resource/background/1600_08_svencoop.tga
svencoop_event_anniv/resource/background/1600_09_svencoop.tga
svencoop_event_anniv/resource/background/1600_10_svencoop.tga
svencoop_event_anniv/resource/background/1600_11_svencoop.tga
svencoop_event_anniv/resource/background/1600_12_svencoop.tga
svencoop_event_anniv/resource/background/1600_13_svencoop.tga
svencoop_event_anniv/resource/background/1600_14_svencoop.tga
svencoop_event_anniv/resource/background/1600_15_svencoop.tga
svencoop_event_anniv/resource/background/1600_16_svencoop.tga
svencoop_event_anniv/resource/background/1600_17_svencoop.tga
svencoop_event_anniv/resource/background/1600_18_svencoop.tga
svencoop_event_anniv/resource/background/1600_19_svencoop.tga
svencoop_event_anniv/resource/background/1600_20_svencoop.tga
svencoop_event_anniv/resource/background/1600_21_svencoop.tga
svencoop_event_anniv/resource/background/1600_22_svencoop.tga
svencoop_event_anniv/resource/background/1600_23_svencoop.tga
svencoop_event_anniv/resource/background/1600_24_svencoop.tga
svencoop_event_anniv/resource/background/1600_25_svencoop.tga
svencoop_event_anniv/resource/background/1600_26_svencoop.tga
svencoop_event_anniv/resource/background/1600_27_svencoop.tga
svencoop_event_anniv/resource/background/1600_28_svencoop.tga
svencoop_event_anniv/resource/background/1600_29_svencoop.tga
svencoop_event_anniv/resource/background/1600_30_svencoop.tga
svencoop_event_anniv/resource/background/1600_31_svencoop.tga
svencoop_event_anniv/resource/background/1600_32_svencoop.tga
svencoop_event_anniv/resource/background/1600_33_svencoop.tga
svencoop_event_anniv/resource/background/1600_34_svencoop.tga
svencoop_event_anniv/resource/background/1600_35_svencoop.tga
svencoop_event_anniv/resource/background/1920_01_svencoop.tga
svencoop_event_anniv/resource/background/1920_02_svencoop.tga
svencoop_event_anniv/resource/background/1920_03_svencoop.tga
svencoop_event_anniv/resource/background/1920_04_svencoop.tga
svencoop_event_anniv/resource/background/1920_05_svencoop.tga
svencoop_event_anniv/resource/background/1920_06_svencoop.tga
svencoop_event_anniv/resource/background/1920_07_svencoop.tga
svencoop_event_anniv/resource/background/1920_08_svencoop.tga
svencoop_event_anniv/resource/background/1920_09_svencoop.tga
svencoop_event_anniv/resource/background/1920_10_svencoop.tga
svencoop_event_anniv/resource/background/1920_11_svencoop.tga
svencoop_event_anniv/resource/background/1920_12_svencoop.tga
svencoop_event_anniv/resource/background/1920_13_svencoop.tga
svencoop_event_anniv/resource/background/1920_14_svencoop.tga
svencoop_event_anniv/resource/background/1920_15_svencoop.tga
svencoop_event_anniv/resource/background/1920_16_svencoop.tga
svencoop_event_anniv/resource/background/1920_17_svencoop.tga
svencoop_event_anniv/resource/background/1920_18_svencoop.tga
svencoop_event_anniv/resource/background/1920_19_svencoop.tga
svencoop_event_anniv/resource/background/1920_20_svencoop.tga
svencoop_event_anniv/resource/background/1920_21_svencoop.tga
svencoop_event_anniv/resource/background/1920_22_svencoop.tga
svencoop_event_anniv/resource/background/1920_23_svencoop.tga
svencoop_event_anniv/resource/background/1920_24_svencoop.tga
svencoop_event_anniv/resource/background/1920_25_svencoop.tga
svencoop_event_anniv/resource/background/1920_26_svencoop.tga
svencoop_event_anniv/resource/background/1920_27_svencoop.tga
svencoop_event_anniv/resource/background/1920_28_svencoop.tga
svencoop_event_anniv/resource/background/1920_29_svencoop.tga
svencoop_event_anniv/resource/background/1920_30_svencoop.tga
svencoop_event_anniv/resource/background/1920_31_svencoop.tga
svencoop_event_anniv/resource/background/1920_32_svencoop.tga
svencoop_event_anniv/resource/background/1920_33_svencoop.tga
svencoop_event_anniv/resource/background/1920_34_svencoop.tga
svencoop_event_anniv/resource/background/1920_35_svencoop.tga
svencoop_event_anniv/resource/background/1920_36_svencoop.tga
svencoop_event_anniv/resource/background/1920_37_svencoop.tga
svencoop_event_anniv/resource/background/1920_38_svencoop.tga
svencoop_event_anniv/resource/background/1920_39_svencoop.tga
svencoop_event_anniv/resource/background/1920_40_svencoop.tga
svencoop_event_anniv/resource/BackgroundLayout.txt
svencoop_event_anniv/resource/BackgroundLayoutWide.txt
svencoop_event_anniv/resource/BackgroundLoadingLayout.txt
svencoop_event_anniv/resource/BackgroundLoadingLayoutWide.txt
svencoop_event_anniv/resource/TrackerScheme.res
svencoop_event_anniv/scripts/plugins/Event_Anniv.as
svencoop_event_anniv/scripts/plugins/point_cake_slice.as
svencoop_event_april/event_info.txt
svencoop_event_april/maps/-sp_campaign_portal.bsp
svencoop_event_april/maps/-sp_campaign_portal.cfg
svencoop_event_april/maps/-sp_campaign_portal_motd.txt
svencoop_event_april/maps/-sp_campaign_portal_readme.txt
svencoop_event_april/maps/hl_c00.bsp
svencoop_event_april/maps/hl_c00.cfg
svencoop_event_april/maps/hl_c01_a1.bsp
svencoop_event_april/maps/hl_c01_a1.cfg
svencoop_event_april/maps/hl_c01_a2.bsp
svencoop_event_april/maps/hl_c01_a2.cfg
svencoop_event_april/scripts/maps/sp_portal/bolts.as
svencoop_event_april/scripts/maps/sp_portal/cvars.as
svencoop_event_april/scripts/maps/sp_portal/hl_random.as
svencoop_event_april/scripts/maps/sp_portal/sp_check.as
svencoop_event_april/scripts/maps/sp_portal/sp_portal_main.as
svencoop_event_april/scripts/maps/sp_portal/waypoints.as
svencoop_event_april/sound/fools/absolutely.ogg
svencoop_event_april/sound/fools/analysis.ogg
svencoop_event_april/sound/fools/c1a0_worry.ogg
svencoop_event_april/sound/fools/cascade.ogg
svencoop_event_april/sound/fools/certain.ogg
svencoop_event_april/sound/fools/checkatten.ogg
svencoop_event_april/sound/fools/containment.ogg
svencoop_event_april/sound/fools/equipment.wav
svencoop_event_april/sound/fools/expected.ogg
svencoop_event_april/sound/fools/hl.mp3
svencoop_event_april/sound/fools/nominal.ogg
svencoop_event_april/sound/fools/paper.ogg
svencoop_event_april/sound/fools/positively.ogg
svencoop_event_april/sound/fools/recalculate.ogg
svends.exe
tier0.dll
tier0_s.dll
tier0_s64.dll
vgui.dll
vgui2.dll
vstdlib.dll
vstdlib_s.dll
vstdlib_s64.dll
*.log
svencoop/custom.hpk

svencoop/maps/soundcache/rust_lobby.txt
svencoop/maps/soundcache/rust_lobby.txt.ztmp
svencoop/maps/soundcache/rust_mini_b9.txt.ztmp
svencoop/maps/soundcache/rust_mini_b9.txt
